<div class="col-lg-4 img-container profile-header">
    <img src="{{ asset('uploads/' ~ user.image) }}" class="img-fluid img-rounded" alt="{{ user.firstname }}" />
    <h2 class="fw-normal mt-3">{{user.firstname}}</h2>
    <h5 class="fw-normal">{{user.job}}</h5>
</div>
