{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Garage V.PARROT{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">Modifier mon mot de passe</h1>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-5">
            {{ form(form)}}
            {% if notification %}
                <div class="alert alert-info">{{notification}}</div>
            {% endif %}
            <a href="{{path('account')}}">Retour</a><br>
        </div>
    </div>



</div>

{% endblock %}
