<div class="col-md-4 mb-3">
    <div class="glassmorphic-box">
        <div class="svg-wrapper">
            <img src="{{asset('build/images/polygone.png')}}" class="hexagon-bg">
            <img src="uploads/{{ service.image }}" class="img-fluid centered-image">
        </div>
        <div class="glassmorphic-content">
            <h5>{{ service.name }}</h5>
            <span class="product-subtitle">{{ service.description }}</span>
        </div>
    </div>
</div>
