<div class="col-md-4 mb-3">
    <div class="glassmorphic-box">
        <img src="uploads/{{ service.image }}" class="img-fluid">
        <div class="glassmorphic-content">
            <h5>{{ service.name }}</h5>
            <span class="product-subtitle">{{ service.description }}</span>
        </div>
    </div>
</div>

