
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublé - La boutique{% endblock %}

{% block content %}
<div class="block-small mb-5">
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialiser votre mot de passe</h1>
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre email" required autofocus>
        <button class="btn btn-block btn-info mt-3" type="submit">
            Valider
        </button>
        <hr>
        <p class="text-center"> Vous avez déjà un compte ? <p>
        <p class="text-center"><a href="{{ path ('app_login')}}">Se connecter</a></p>
    </form>
</div>
{% endblock %}
