@import '~bootstrap';

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


/* CAR */

.card {
    transition: max-height 0.5s ease;
    overflow: hidden;
    height: 630px;
    min-width: 310px;
    max-width: 22vw;
    padding: 0;
}

@media(max-width: 992px){
    .card{
        max-width: 50vw;
    }
}

@media(max-width: 767px){
    .card{
        max-width: 100vw;
    }

    .filter-col{
        margin-bottom: 50px !important;
    }
}



.card.active {
    height: auto;
    font-weight: normal;

}

.badge-price {
    padding: 10px 20px;
    font-size: 1.15rem; 
}

.table-container {
    max-height: 700px;
    overflow-y: auto;
}

.carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.occas-container {
    gap: 30px;
}

/* Qui sommes nous */

.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-container svg {
    margin: 0 auto;
}

body{
    position: relative;
}


/* NAVBAR */
#logo {
    width:120px;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}

#logo:hover{
    transform: translateY(-3px);
}
.nav > li:not(:last-child) {
    margin-right: 10px; 
    height:24px;
}

.nav > li:first-child {
    margin-left: 10px; 
}

.nav-link {
    color: white; 
    border-radius: 30px; 
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.25); 
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.nav-link:not(.active):hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}
.navbar-item-custom a{
    color:white !important;
    text-decoration: none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/* PAGE PRODUITS ET PRODUIT */

.product-item{
    margin-top: 50px;
}

.product-item h5{
    text-transform:uppercase;
    font-size: 16px;
    margin-bottom:1px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.product-item .product-price{
    font-size: 14px;
    font-weight: bold;
}

.product-container , .product-page-container{
    margin-bottom: 125px;
}

.product-page-price{
    font-size:18px;
    font-weight: bold;

}




/* MON COMPTE */
.container.account {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    min-height: calc(100vh - 300px);

}

.account-item{
    padding: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100%; 
}



@media (max-width: 768px) {
    .account-item-row .col-md-4{
        margin-bottom: 20px;
    }
}

.account-item-row .col-md-4 {
    padding: 15px; 
}

.btn-relief {
    color: #000; 
    text-decoration: none;  
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  8px 8px 0px #c4c4c4,
                 -8px -8px 15px #ffffff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.btn-relief img {
    margin-bottom: -10px; 
}

.btn-relief img,
.btn-relief span {
    transition: transform 0.2s ease-in-out;
}

.btn-relief:active img,
.btn-relief:active span {
    transform: scale(0.95);
}

.btn-relief:active {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.40);
}




/* SERVICES */
.glassmorphic-box {
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px; 
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#services .btn {
    width: 200px;
}

.rdv-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 50px !important;
    width: 250px !important;
}


.svg-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.hexagon-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    max-width: 80%; 
    max-height: 80%; 
}

.glassmorphic-content {
    margin-top: 10px;
    text-align: center;
    cursor: default;
    position: relative; 
    z-index: 3;
}

.glassmorphic-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 12px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}


/* OCCASIONS */

.expanded-card {
    height: auto;
}

.text-light-bold {
    font-weight: 600 ;
}

.filter{
    display: block;
    position: sticky;
    top:20px;

}

/* QUI SOMMES NOUS */

/* Stylesheet pour votre front */
.img-container {
    transition: transform 0.3s ease-in-out; 
}

.img-container:hover {
    transform: scale(1.05); 
}

.img-rounded {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
}

.img-rounded:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.profile-header {
    text-align: center;
    margin-top: 20px;
}

.profile-header h2, .profile-header h5 {
    transition: color 0.3s ease-in-out; 
}

.profile-header:hover h2, .profile-header:hover h5 {
    color: #007bff; 
}

.row.img-center-text {
    display: flex;
    align-items: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.liste {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.liste li img {
    margin-right: 10px;  
}

@media (max-width: 767px) {
    .liste {
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
    }
    .liste .col-lg-4,
    .liste .col-md-4,
    .liste .col-sm-12 {
        flex: 0 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-bottom: 20px;
        margin-left: 5px;  
        margin-right: 5px;  
    }
    .liste li img {
        margin-right: 10px;  
    }
}

/* ACCUEIL */

#home {
    background-image: url('/assets/images/bg-garage.jpg');
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position:30% 60% ; 
    height: 600px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#home .fw-light,
#home .lead,
#home .lead a {
    color: white !important;
}

h1.fw-light {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 4em;
}

p.lead.text-body-secondary {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}


/* CONTACT */

ul, li {
    list-style: none;
}


.contact-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;
    margin: 0;
}



.contact-row > div {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    transition: 0.3s ease-out;
    padding:0;
    margin:0;
}

@media (max-width: 768px){
    .contact-row > div {
        border-right:none;
    }
    .form-row{
        width: 100%;
        margin: 0;
    } 
}

.contact-row > div:hover{
    transform: translateY(-5px);
}

.features-list a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; 
}

.features-list a:hover, .features-list a:focus {
    text-decoration: none;
}



.contact-custom-container h2 {
    margin-bottom: 5rem;
}

.contact-custom-container {
    margin-top: 100px;
    padding: 50px 0;
}


.features-list {
    padding-left: 0;
}

.features-list h5 {
    color: #BB2D3B;
    border-bottom: 2px solid #BB2D3B;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.glass-card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);  /* un fond semi-transparent */
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    box-shadow: 7px 7px 14px #c9c9c9, -7px -7px 14px #ffffff;  /* ombres douces pour l'effet neomorphic */
    backdrop-filter: blur(10px);  /* effet de flou pour le glassmorphism */
    transition: all 0.3s ease-in-out;
}
.glass-card h5 {
    border-bottom: 2px solid #BB2D3B;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.glass-card:hover {
    box-shadow: 4px 4px 7px #c9c9c9, -4px -4px 7px #ffffff;
}
#contact_submit {
    width: 100%;
}

/* FEEDBACK */

.feedback-card, .feedback-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 250px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.feedback-form{
    height: 500px;
}

.feedback-card .card-header {
    background-color: #84B262 !important; 
    color: #fff;
    padding: 0.75rem 1.25rem; 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: normal; /* Pour le h6 */
    border-radius: 0.5rem 0.5rem 0 0;
    flex-shrink: 0;
}

.feedback-card .card-header h6 {
    font-weight: normal;
    text-align: center;
}

.feedback-card .card-body {
    padding: 1.25rem;
    position: relative;
    padding-bottom: 30px; 
    border-radius: 0 0 0.5rem 0.5rem;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-card .card-body .feedback-content {
    margin-bottom: 1rem;
}

.feedback-card .secondary-text {
    position: absolute;
    color: lightgray;
    right: 10px; 
    bottom: 10px; 
}


.more-text {
    display: none;
}

button.toggle-text {
    background: none;
    color: blue;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;  
}

button.toggle-text:focus {
    outline: none;
    box-shadow: none;
}

#feedback_submit{
    width: 100%;
    background-color: #84B262;
}

.rating {
    display: flex;
    align-items: center; 
    gap: 5px;
}

/* FOOTER */

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #212529;
    color:white;
    padding-top: 25px;
}


/*  TEAM  */


.img-container {
    position: relative;
}

.team-container{
    min-height: 60vh;
}

.paint-bg {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-container h2, .img-container h5, .img-container p {
    color: black;
}

.img-container h2 {
    font-size: 24px;
}

.img-container h5 {
    font-size: 18px;
}


/* LOGIN */


.login-container {
    height: 60vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.login-btn{
    display: block;
    width: 100%;
}







