<h1>Félicitations ! Votre proposition a été acceptée</h1>
<p>Bonjour,</p>
<p>Votre proposition d'achat pour la voiture {{ carName }} d'un montant de {{ proposedPrice }}€ a été acceptée.</p>
<p>Merci de nous contacter pour finaliser la transaction.</p>
<p>À bientôt !</p>
