<h1>Votre proposition a été refusée</h1>
<p>Bonjour,</p>
<p>Nous avons examiné votre proposition d'achat pour la voiture {{ carName }} d'un montant de {{ proposedPrice }}€. Malheureusement, nous n'avons pas pu retenir votre proposition.</p>
<p>Vous pouvez nous rappeler ou faire une nouvelle demande.</p>
<p>Merci de votre compréhension.</p>
